*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    background:black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    padding: 12px;
    margin: 4px;
    border-radius: 22px;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;

}
.yellow{
    background: rgb(255, 68, 0);
    color: white;

}
.Obutton{
    background: #322c2c;
    color: white;
}
button:hover{
    background-color: blueviolet;
}
input {
    border-radius: 7px;
    width: 14%;
    height: 22px;
    margin: 12px 0px;
}
